<%- include ('../partials/header') %>

<section class="orders">
    <div class="container">
        <h1 class="fw-bold mb-2">All Orders</h1>
        <table class="w-100 table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-2 py-1 text-eft">Order</th>
                    <th class="px-2 py-1 text-eft">Customer</th>
                    <th class="px-2 py-1 text-eft">Address</th>
                    <th class="px-2 py-1 text-eft">Phone</th>
                    <th class="px-2 py-1 text-eft">Status</th>
                    <th class="px-2 py-1 text-eft">Placed At</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
                
            </tbody>
        </table>
    </div>
</section>

<%- include ('../partials/footer') %>