<%- include ('partials/header') %>

<!-- Main -->

<section class="main">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/img/pizza-big.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                    height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <p class="lead">Are you hungry ?</p>
                <h1 class="display-5 fw-bold lh-1 mb-3">Don't Wait !!</h1>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class=" rounded-pill btn btn-outline-warning">Order Now</button>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Menu -->
<section class="menu-veg">
    <div id="menu-title">
        <h1 id="menu-title" class="fw-bold">All Pizza</h1>
    </div>
    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card mt-3">
                    <div class="align-item-center p2 text-center">
                        <img src="/img/pizza.png" alt="pizza img" class="rounded" width="160">
                        <h5>Margeritha</h5>
                        <div class="mt-3">
                            <span class="d-block">Small</span>
                        </div>
                        <div class="mt-3 text-dark" >
                            <span>250/-</span>
                        </div>
                    </div>
                    <div class="p3 mt-3 cursor text-center">
                        <button class="btn btn-outline-warning">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<%- include ('partials/footer') %>