<%- include ('partials/header') %>

<section class="login d-flex justify-content-center pt-4 mt-5">
  <div class="w-50">
   <form id="login" class="p-5">
    <div class="form-outline mb-4">
      <label class="form-label" for="name">Email</label>
      <input type="text" id="name" class="form-control" placeholder="Enter Your Name"/>
  </div>
       <div class="form-outline mb-4">
           <label class="form-label" for="email">Email</label>
           <input type="email" id="email" class="form-control" placeholder="Enter Your Email"/>
       </div>
       <div class="form-outline mb-4">
           <label class="form-label" for="password">Password</label>
           <input type="password" id="password" class="form-control" placeholder="***********" />
       </div>
       <button type="button" class="btn btn-outline-primary mb-4 rounded-pill">Register</button>
       <p>
           <a href="/login">Already have account?</a>
       </p>
       </div>
   </form> 
  </div>
</section>  

</body>
</html>