/* 

p-#fe5f1e
ph-#b23301
s-#f8f8f8
pu-#fff
d-#232323
g-#ccc

*/


/* body */
body {
    font-family: 'Titillium Web', sans-serif;
    color: #232323;
}


/* Navbar */
/* Cart icon */
nav li:last-child a {
    background-color: #fe5f1e;
    border-radius: 5px;
    margin-left: 5px;
}
nav li:last-child a:hover {
    background-color: #fe5f1e;
    border-radius: 5px;
    background-color: #b23301;
    transition: all .3 ease-in-out;
}
/* Navlinks */
#navbarSupportedContent li a:hover {
    color: #fe5f1e;
    transition: all .3 ease-in-out;
}
/* Main */
section.main{
    background-color:#f8f8f8 ;
}
/* Menu */
/* Titles */
.card{
    box-shadow: 0 10px 18px #dbd4d4;
}
/* Cart Page */
/* cart header */
section.cart{
    background-color:#f8f8f8 ;
}

/* Amonut */
.amount{
    color:#fe5f1e ;
}
/* login and register page */
#auth{
    box-shadow: 0 10px 18px #dbd4d4;
    padding: 20px;   
}
.auth{
    padding-top: 15px;
    margin-top: 15px;
}